@charset "utf-8";
/* CSS Document, 单独定义一个css全局文件,页面统一引入样式 */
input{
    /*!important用于提升样式选择器的优先级为最高 */
    width: 300px !important;
}

/*元素居中*/
.ele_mid{
    margin:auto;
}
/*中等大小按钮*/
.but_med{
    width: 300px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}